/* -------------------------------------------------- */
/*  Design Tokens - Used Globally Across the Project  */
/* -------------------------------------------------- */
:root {
  --color-primary: #145db8;
  --color-primary-darkmode: hsl(213, 80%, 60%);

  --color-blue-hover: #0f4a8c;

  --color-red: #fc4b4e;
  --color-yellow: #f9e000;

  --bg-blue: #6292cf;
  --bg-blue-light: #e8eff8;
  --bg-gray-light: #f5f6f7;

  --txt-black: #05162c;
  --txt-black-darkmode: #fff;

  --txt-blue: #145db8;
  --txt-blue-darkmode: hsl(213, 80%, 60%);

  --txt-white: #fff;

  --txt-gray: #404448;
  --txt-gray-darkmode: #e9ebec;

  --txt-gray-light: #6d7379;
  --txt-gary-light-darkmode: #bcbfc3;

  --txt-lg: 2rem; /* 32px */
  --txt-xl: 2.5rem; /* 40px */
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* line height */
  --leading-full: 100%;

  --border-primary: 1px solid var(--color-primary);
  --border-primary-darkmode: 1px solid var(--color-primary-darkmode);

  --border-gray: 1px solid #99a2ab;

  --radius-xs: 4px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 24px;
  --radius-xl: 30px;
  --radius-2xl: 50px;

  --shadow-sm: 0 2px 12px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 12px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 6px 15px rgba(0, 0, 0, 0.25);

  /* Focus */
  --focus-ring-color: var(--color-primary);
  --focus-ring-width: 2px;
}

:root.dark {
  --color-primary: var(--color-primary-darkmode);
  --txt-black: var(--txt-black-darkmode);
  --txt-blue: var(--txt-blue-darkmode);
  --txt-gray: var(--txt-gray-darkmode);
  --txt-gray-light: var(--txt-gary-light-darkmode);
  --border-primary: var(--border-primary-darkmode);
}
